body{
    background-color:white;
    display: block;
    margin: 0px;
}

 h2,  h3, h4{
    color:black;
   
  
}
p{
    color:black;
   
}


.navigation.inline-block {
    display:inline-block;
    vertical-align: top;
    width: 120px;
    margin-left: auto;
    background-color:white;
    text-align: center;
    padding-bottom: 10 px;
    padding-left: 90 px;
    padding-right: 150px;
    margin-top: 32px;
    
}


ul.navlist{
    list-style-type: none;
    margin: 0;
    float: center;
    padding-top:5;
    background-color:white;
    width: 150%;
    color:grey;
    display:flex;
    font-size: x-large;
}

li{
    margin: 10px;
}
.logo{
    width: 23%;
    padding: 1%;
    text-align: center;
}

.navigation{
    width: 73%;
    padding: 1%;
}

.navlist{
    width: 50%;
    margin-left: auto;
}
.heroGrid{
    display:grid;
    grid-template-rows: 125px 100px 150px;
    grid-template-columns: 40% 60%;
    grid-template-areas:
    'heroHeader' 
    'heroButton';
    padding: 100px;
    display: flex;
    align-content: center;
    max-width: 130%;
    margin: 0 auto;
    column-gap: 50px;
   
    

}
.heroHeader{
    display: flex;
    padding: 50px;
    margin-left: 10px;
    width:300px;
    font-size: xx-large;
    text-align:left;
 
}
.heroImg{
    padding: 100px 15px;
    background-color: white;
}
.heroButton{
    padding: 15px;
    border-radius: 4px;
    font-size: 15px;
    color:white;
    background-color: black;
    display: flex;
    
}

.footer{
    background-color: white;
    padding-left: 500px;
    display: inline-block;
    vertical-align: top;
    justify-content: center;
    

}

.mySkills{
    display: grid;
}
h1{
    text-align: center;
    font-size: xx-large;
    background-color: grey;
}
.flexContainer{
    display: flex;
    margin: 150px;
    align-items: center;
    color:darkgray;
    background-color:white;
    justify-content:space-between;
    text-align: center;
    padding: 51px;
    
   


}

h3{
    margin-left: 40px;
}

p{
    color: black;
    font-size: x-large;
    padding: 50px;
}